{% extends 'layouts/base.html' %}

{% block title %} Data {% endblock title %}

{% block content %}

<div class="container-fluid pt-6 bg-secondary">
    <h2>Data</h2>
    <p>Data source used throughout the project.</p>
    <ul class="list-group list-group-flush">
        <h3>We have used Coivd 19 data from Covid19-India Website , Here is Link provided by Us</h3>
        <li class="list-group-item"><a href="https://github.com/covid19india/api">Covid19-India</a></li>
    {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
$('.nav-item a').removeClass('active');
$('.data-item a').addClass('active');
</script>
{% endblock javascripts %}
